
<div style="width: 90%; margin: auto; ">
  <div style="width: 300px;">
    <%= form_for(@user, url: user_path(client_id: @user.client_id), method: :patch, id: "editForm") do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :address_first %>
      <%= f.text_field :address_first %>
    </div>
    <div class="field">
      <%= f.label :address_second %>
      <%= f.text_field :address_second %>
    </div>
    <div class="field">
      <%= f.label :address_third %>
      <%= f.text_field :address_third %>
    </div>
    <div class="field">
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :property_id %>
      <%= f.collection_select(:property_id, Property.all, :id, :property_name, prompt: true) %>
      <!-- Assuming your Property model has a 'name' attribute to display in the dropdown -->
    </div>

    <%= f.submit "Update user", class: "btn btn-primary" %>
    <%= link_to 'Back to users', users_path, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
  
