<%= form_with(model: property, local: true) do |form| %>
  <div>
    <%= form.label :property_name %>
    <%= form.text_field :property_name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

  <div>
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name %>
  </div>

  <div>
    <%= form.submit 'Save Property' %>
    <%= link_to 'Back to properties', properties_path, class: 'btn btn-primary' %>
  </div>
<% end %>
