<div class="card">
  <p>
    <strong>Client:</strong>
    <%= client_detail.client_id %>
  </p>

  <p>
    <strong>Client name:</strong>
    <%= client_detail.client_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client_detail.email %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= client_detail.number %>
  </p>

  <p>
    <strong>Client address:</strong>
    <%= client_detail.client_address %>
  </p>

  <p>
    <strong>Client postcode:</strong>
    <%= client_detail.client_postcode %>
  </p>

</div>
